<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Amazon Hot Deals</title>

    <environment names="Development,Staging,Production">

        <!-- Plugins CSS -->
        <link href="css/plugins/plugins.css" rel="stylesheet">
        <!--dz parallaxer-->
        <link href="dzsparallaxer/dzsparallaxer.css" rel="stylesheet">
        <link href="dzsparallaxer/scroller.css" rel="stylesheet">
        <link href="dzsparallaxer/advancedscroller/plugin.css" rel="stylesheet">
        <!--smart form css-->
        <link href="smart-form/contact-recaptcha/css/smart-forms.css" rel="stylesheet">
        <!-- load css for cubeportfolio -->
        <link rel="stylesheet" type="text/css" href="cubeportfolio/css/cubeportfolio.min.css">
        <link href="css/style.css" rel="stylesheet">

    </environment>

</head>



<body data-spy="scroll" data-target="#navbarsspy" data-offset="57">
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - AmazonAfilliate.website - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <!-- jQuery first, then Tether, then Bootstrap JS. -->
    <script type="text/javascript" src="js/plugins/plugins.js"></script>
    <script type="text/javascript" src="js/onepage.custom.js"></script>
    <!--dz parallaxer-->
    <script type="text/javascript" src="dzsparallaxer/dzsparallaxer.js"></script>
    <script type="text/javascript" src="dzsparallaxer/scroller.js"></script>
    <script type="text/javascript" src="dzsparallaxer/advancedscroller/plugin.js"></script>
    <!-- load cubeportfolio -->
    <script type="text/javascript" src="cubeportfolio/js/jquery.cubeportfolio.min.js"></script>
    <script type="text/javascript" src="js/folio-load-more.js"></script>
    <script type="text/javascript" src="js/testimonials.js"></script>
    <!--sky form plugin js-->
    <script type="text/javascript" src="smart-form/contact-recaptcha/js/jquery.form.min.js"></script>
    <script type="text/javascript" src="smart-form/contact-recaptcha/js/jquery.validate.min.js"></script>
    <script type="text/javascript" src="smart-form/contact-recaptcha/js/additional-methods.min.js"></script>
    <script type="text/javascript" src="smart-form/contact-recaptcha/js/smart-form.js"></script>
    <script src='https://www.google.com/recaptcha/api.js'></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
